<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
      <env name="APP_ENV" value="testing"/>
      <env name="HSM_API_MODULE" value="softhsm"/>
      <env name="HSM_API_SLOT" value="SoftHSMLabel"/>
      <env name="HSM_API_ENCRYPTION_KEY_LABEL" value="SoftHSMLabel"/>
      <env name="HSM_API_CLIENT_CERTIFICATE_PATH" value="secrets/pki/issued/softhsm^SoftHSMLabel^*=create,destroy,use,import.crt"/>
      <env name="HSM_API_CLIENT_CERTIFICATE_KEY_PATH" value="secrets/pki/private/softhsm^SoftHSMLabel^*=create,destroy,use,import.key"/>
      <env name="HSM_API_ENDPOINT_URL" value="https://portal-backend-hsm-api-service:8000/hsm"/>

      <env name="HSM_PUBLIC_KEY_FILE_PATH" value="secrets/public.key"/>

    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
    <!-- <env name="DB_DATABASE" value=":memory:"/> -->
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
