<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{$content->subsidyTitle}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{$content->stylesheetPath}">
</head>
<body>

<header>
    <section id="logo">
        <img id="ribbon" style="top: -14.5mm;" src="{$content->logoStream|dataStream}"/>
        <span id="ministry">Ministerie van Volksgezondheid, Welzijn en Sport</span>
    </section>
</header>

<aside id="right">
    {block sidebar}
        <h3>Dienst Uitvoering Subsidies aan Instellingen (DUS-I)</h3>
        <p>&nbsp;</p>
        <h4>Bezoekadres:</h4>
        <p>
            Rijnstraat 50<br>
            2515 XP DEN HAAG
        </p>

        <h4>Contact</h4>
        <p>
            {$content->contactEmailAddress}<br>
            070 340 5566<br>
            <em>Bereikbaar op werkdagen<br>van 9.00 tot 16.00 uur</em>
        </p>

        <p>www.dus-i.nl</p>

        {if $content->reference}
            <h4>Ons kenmerk</h4>
            <p>{$content->reference}</p>
        {/if}
    {/block}
</aside>

<article>
    <p class="small"><span aria-hidden="true">&gt; </span>Retouradres Postbus 16006 2500 BA Den Haag</p>

    <p>
        {$content->stage1->firstName} {$content->stage1->infix} {$content->stage1->lastName}<br />
        {$content->stage1->street} {$content->stage1->houseNumber}{$content->stage1->houseNumberSuffix}<br />
        {$content->stage1->postalCode}&nbsp;&nbsp;{$content->stage1->city}
    </p>
    <p>&nbsp;</p>

    <p>
        Datum: {$content->createdAt|date:"d-m-Y"}<br />
        {block concern}{/block}
    </p>
    <p>&nbsp;</p>

    {block content}{/block}

    {block questions}
        <h2>Heeft u vragen?</h2>
        <p>Neem dan contact met ons op: <a href="mailto:{$content->contactEmailAddress}">{$content->contactEmailAddress}</a> of bel met
            <a href="tel:+31703405566">070-340 55 66</a>. Vermeld bij al uw correspondentie het
            referentienummer <em>{$content->reference}</em>.</p>
        <p>&nbsp;</p>
    {/block}

    {block signature}
        <p>
            Met vriendelijke groet,<br/>
            <br/>
            Dienst Uitvoering Subsidies aan Instellingen<br/>
        </p>
    {/block}
</article>

{block objectionFooter}
    <footer>
        <h2>Bezwaar</h2>

        <p>
            Heeft u vragen over deze beslissing of bent u het er niet mee eens?<br/>
            Kijk op <a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-volksgezondheid-welzijn-en-sport/contact/bezwaarschriften-vws" target="_blank">www.rijksoverheid.nl/ministeries/ministerie-van-volksgezondheid-welzijn-en-sport/contact/bezwaarschriften-vws</a>.
            Daar wordt uitgelegd wat u kunt doen als u het niet eens bent met de beslissing en misschien bezwaar wilt
            maken. Er staan voorbeelden waarmee u de kans op een succesvol bezwaar kan inschatten.
        </p>

        <p>
            Wilt u toch een bezwaarschrift sturen, dan moet dit binnen zes weken na de datum die bovenaan deze brief
            staat. Let op: doe dit op tijd, anders kan uw bezwaar niet behandeld worden.
        </p>

        <p>
            Het bezwaarschrift e-mailt u naar:
            <a href="mailto:WJZ.bezwaarenberoep@minvws.nl">WJZ.bezwaarenberoep@minvws.nl</a>, bij voorkeur met een
            ingescande handtekening. Stuurt u het bezwaarschrift per e-mail zonder ondertekening? Dan moet u misschien
            op een later moment aantonen dat u bevoegd bent om het bezwaar in te dienen.
        </p>

        <p>
            U kunt uw bezwaarschrift ook versturen per post naar:<br/>
            Ministerie van Volksgezondheid, Welzijn en Sport<br/>
            t.a.v. Directie Wetgeving en Juridische Zaken<br/>
            Postbus 20350<br/>
            2500 EJ Den Haag
        </p>

        <p>
            Noem in het bezwaarschrift:

        <ul>
            <li>uw naam en adres;</li>
            <li>de datum;</li>
            <li>het kenmerk van deze brief (dit vindt u in de rechterkantlijn);</li>
            <li>de reden waarom u het niet eens bent met de beslissing.</li>
        </ul>
        </p>

        <p>
            Vergeet niet om uw bezwaarschrift te ondertekenen en van een datum te voorzien. Wilt u zo vriendelijk zijn
            om een kopie van deze brief mee te sturen met het bezwaarschrift?
        </p>

        <p>
            Vermeld bij al uw correspondentie het referentienummer {$content->reference}. Het indienen van bezwaar
            schort de werking van deze beschikking niet op.
        </p>
    </footer>
{/block}

</body>

</html>
