{define questionsTemplate}
    <h2>Heeft u vragen?</h2>
    <p>Neem dan contact met ons op: <a href="mailto:{$content->contactEmailAddress}">{$content->contactEmailAddress}</a> of bel met
        <a href="tel:+31703405566">070-340 55 66</a>. Vermeld bij al uw correspondentie het
        referentienummer <em>{$content->reference}</em>.</p>
{/define}
