includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - ./src
    level: 8

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    universalObjectCratesClasses:
        - MinVWS\Codable\Decoding\DecodingContainer
        - MinVWS\Codable\Encoding\EncodingContainer
